.cart-section__content {
  @include mixins.flex(column, flex-start, flex-start, nowrap);
  column-gap: 15px;
  row-gap: 15px;
  padding: 10px;
  margin-top: 20px;
  max-height: 450px;
  overflow-y: scroll;
}

.cart-section__total {
  @include mixins.textStyle(30px, 24px, 400,  rgb(38, 96, 36));
  margin-top: 35px;
}
